page-cal-imc {
    
        .conteudo {
            text-align: center;
        }
        .imput {
            margin-top: 7px;
            padding: 3px;
        }
    
        .select {
            margin-top: 7px;
            max-width: 100%;
            min-width: 100%;
        }
    
        .input1 {
            width: 100%;
        }
        .item {
            width: 95%;
        }
        .entrar {
            width: 60%;
            margin: 20px 0;
      
        }

    }
    