page-detalhe-eventos {

.detalhe-evento {
    height: auto;

    margin: 5px;
    padding: 5px;
    float: left;
}

img {
	width: 30%;
	height: 100px;
}
.minha-div {
  img {
    max-width: 100%;
    max-height: 100%;
}
    height: 50px;
    width: 50px;
}
}
