page-detalhe-dicas {



.imagem-dicas {
    margin-top: 10px;
}

.titulo-dicas {
    text-align: justify;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: solid 0.2px #808080;
}

.titulo-dicas h2 {
   font-weight: bold;
}

.data-dicas {
    margin: 20px;
    color: #0000ff;
    padding: 5px;
    border-bottom: solid 0.2px #808080;
}

.conteudo-dicas {
    margin: 20px;
}
}
