page-exame-list {

    .item a{
        margin: 5px;
        text-decoration: none;
    }
    .card{
      padding: 0px;
      border-radius: 1px;
    }
    .itemdetalhe{
      padding: 10px;
      font-size: 10px;
      color: green;
    }
    .iconexame{
      width: 80%;

    }
}
