<!--
  Generated template for the ExameListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de exames</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
          <ion-label>Mês:</ion-label>
          <ion-select interface="popover">
            <ion-option value="Patologias" (ionSelect)="filtrar(1); pesquisa='';">Janeiro</ion-option>
            <ion-option value="fev" (ionSelect)="filtrar(2); pesquisa='';">Fevereiro</ion-option>
            <ion-option value="mar" (ionSelect)="filtrar(3); pesquisa='';">Março</ion-option>
            <ion-option value="abril" (ionSelect)="filtrar(4); pesquisa='';">Abril</ion-option>
            <ion-option value="mai" (ionSelect)="filtrar(5); pesquisa='';">Maio</ion-option>
            <ion-option value="jun" (ionSelect)="filtrar(6); pesquisa='';">Junho</ion-option>
            <ion-option value="jul" (ionSelect)="filtrar(7); pesquisa='';">Julho</ion-option>
            <ion-option value="ago" (ionSelect)="filtrar(8); pesquisa='';">Agosto</ion-option>
            <ion-option value="set" (ionSelect)="filtrar(9); pesquisa='';">Setembro</ion-option>
            <ion-option value="out" (ionSelect)="filtrar(10); pesquisa='';">Outubro</ion-option>
            <ion-option value="nov" (ionSelect)="filtrar(11); pesquisa='';">Novembro</ion-option>
            <ion-option value="dez" (ionSelect)="filtrar(12); pesquisa='';">Dezembro</ion-option>

          </ion-select>
        </ion-item>
<div *ngIf="exames" class="">
      <ion-row>
        <ion-col col-6 *ngFor="let p of exames" (click)="openFile(p.patch+'/'+p.arquivo)">
          <ion-card *ngIf="p.mes == filtro">
        <ion-card-header>
      {{p.descricao}}
        </ion-card-header>
        <ion-card-content>
          <img class="iconexame" src="assets/pdf.png" alt="">
      <div class="itemdetalhe">
           <ion-icon name="calendar"></ion-icon> {{p.data}}
      </div>
        </ion-card-content>
      </ion-card>
        </ion-col>
      </ion-row>
  </div>
</ion-content>
