<ion-header>
  <ion-toolbar color="primary">
  <img  width="100%" src="assets/menu/logo.png" alt="">


  </ion-toolbar>
</ion-header>

<ion-content class="home">


  <div class="slide">
          <ion-slides autoplayDisableOnInteraction="false"  autoplay="3000" loop="true" speed="1000" pager>

            <ion-slide >
              <img src="http://inebmed.com.br/uploads/app/aviso_banner.png" alt="">
            </ion-slide>

          
          </ion-slides>

        </div>


      <div class="menu1">
          <div *ngFor="let p of perfil" class="imagens-menu"><img width="7%" height="5%" (click)="openPages(p)" src="assets/menu/user.png" alt=""></div>
          <div  *ngFor="let p of unidades" class="imagens-menu"><img  width="7%" height="5%" (click)="openPages(p)" src="assets/menu/unidades.png" alt=""></div>
          <div  *ngFor="let p of noticias" class="imagens-menu"><img  width="7%" height="5%" (click)="openPages(p)" src="assets/menu/news.png" alt=""></div>
          <div  *ngFor="let p of dicas" class="imagens-menu"><img  width="7%" height="5%" (click)="openPages(p)" src="assets/menu/dicas.png" alt=""> <br></div>
      </div>
      <div class="menu2">

        <div *ngIf="user" class="">
          <div  *ngFor="let p of exameList" class="cadastro-exame"><img  width="100%" (click)="openPages(p)" src="assets/menu/bt_exame.png" alt=""> <br></div>
        </div>
        <div *ngIf="!user" class="">
          <div  (click)="openlogin()" class="cadastro-exame"><img  width="100%"  src="assets/menu/bt_cadastro.png" alt=""> <br></div>
        </div>

        <div  *ngFor="let p of exame" class="cadastro-exame"><img  width="100%" (click)="openPages(p)" src="assets/menu/bt_reserve.png" alt=""> <br></div>
      </div>
      <div class="menu3">
        <ion-row>
          <ion-col>
<img  (click)="openMenu()" src="assets/menu/menu.png" alt="">
          </ion-col>
          <ion-col>
<img  *ngFor="let p of eventos" (click)="openPages(p)" src="assets/menu/eventos.png" alt="">
          </ion-col>
          <ion-col>
<img  *ngFor="let p of saude" (click)="openPages(p)" src="assets/menu/atendimento.png" alt="">
          </ion-col>
          <ion-col>
<img *ngFor="let p of especialistas"   (click)="openPages(p)" src="assets/menu/espec.png" alt="">
          </ion-col>
        </ion-row>

      </div>

</ion-content>
<ion-footer>
    <img class="imgwits" src="assets/logow.png"/>
</ion-footer>
