<ion-header>
  <ion-toolbar color="danger">
    <img width="100%" src="assets/menu/logo.png" alt="">


  </ion-toolbar>
</ion-header>

<ion-content class="home">


  <div class="slide">
      <ion-slides *ngIf="dados && dados.length" autoplay="5000" class="slideroption" pager="true"   loop="true" speed="300">

     <div *ngFor="let item of dados | slice:0:1"> 
      <ion-slide>
          <img src="http://camaradecondeuba.ba.gov.br/uploads/destaque.png" alt="">
      </ion-slide>
    </div>

    </ion-slides>

  </div>

  <div padding>
    <ion-segment color="danger" [(ngModel)]="menu">
      <ion-segment-button value="ferramentas">
        Utilidades
      </ion-segment-button>
      <ion-segment-button value="news">
        Notícias
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="menu">
    <ion-list *ngSwitchCase="'news'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>Notícias</h2>
      </ion-item>
      <ion-item *ngFor="let item of dados | slice:0:10" (click)="openPage(item)">
        {{item.titulo}}
      </ion-item>
      <ion-item *ngFor="let p of noticias">
        <ion-buttons>
          <div (click)="openPages(p)">Ver todas</div>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <ion-list class="boxicons" *ngSwitchCase="'ferramentas'">
      <ion-row class="menuicones">
        <ion-col col-4>
          <div *ngFor="let p of perfil" class="">
            <img (click)="openPages(p)" src="assets/menu/user.png" alt="">
          </div>
        </ion-col>
        <ion-col col-4>
          <div *ngFor="let p of perfil" class="">
            <img (click)="openPages(p)" src="assets/menu/vereadores.png" alt="">
          </div>
        </ion-col>
        <ion-col col-4>
          <div *ngFor="let p of perfil" class="">
            <img (click)="openPages(p)" src="assets/menu/ouvidoria.png" alt="">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="menuicones">
        <ion-col col-4>
          <div *ngFor="let p of dicas" class="">
            <img (click)="openPages(p)" src="assets/menu/transparencia.png" alt="">
          </div>
        </ion-col>
        <ion-col col-4>
          <div *ngFor="let p of saude" class="">
            <img (click)="openPages(p)" src="assets/menu/transmissoes.png" alt="">
          </div>
        </ion-col>
        <ion-col col-4>
          <div *ngFor="let p of eventos" class="">
            <img (click)="openPages(p)" src="assets/menu/galerias.png" alt="">
          </div>
        </ion-col>
      </ion-row>


    </ion-list>
  </div>





</ion-content>
<ion-footer>
  <img class="imgwits" src="assets/logow.png" />
</ion-footer>