<!--
  Generated template for the EspecialistasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Dicas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="leis">
        Leis
      </ion-segment-button>
      <ion-segment-button value="contratos">
        Contratos
      </ion-segment-button>
      <ion-segment-button value="dispensa">
        Dispensa
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Licitação
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Pregão
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'leis'">
      <div *ngFor="let p of publicacoes">
        <ion-item *ngIf="p.tipo =='Leis'" (click)="openPage(p)">
          <div text-wrap> {{p.titulo}}</div>
        </ion-item>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      ...
    </ion-list>
  </div>

  <ion-list>

  </ion-list>

</ion-content>